<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta title="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  
  <ul>
    {{#each products}}
      <li>
        
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <a href="/productsDetail/{{this._id}}">Ver detalles</a>
        <a href="/cart/add/{{this._id}}">Agregar al carrito</a>
      </li>
    {{/each}}
  </ul>
  <div>
    <p>Page: {{products.page}} of {{products.totalPages}}</p>
    <a href="?limit=10&page={{products.prevPage}}">Previous</a>
    <a href="?limit=10&page={{products.nextPage}}">Next</a>
  </div>
</body>
</html>