<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>

<ul>
    {{#each products}}
    <li>
        <h2>{{this.name}}</h2>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <button><a href="/products/{{this._id}}">Ver detalles</a></button>
        <button><a href="/cart/add/{{this._id}}">Agregar al carrito</a></button>
      </li>
    {{/each}}
  </ul>

  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Página anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Página siguiente</a>
    {{/if}}
  </div>
</body>
</html>

